@model Sale
@{string? businessName = Context.Session.GetString("BusinessName");}
@{int? businessId = Context.Session.GetInt32("BusinessId");}
<form asp-action="UpdateSale" asp-controller="Home" asp-route-name="@businessName" asp-route-id="@Model.SaleId" method="post">
    <div class="new-customer-container">
        <div class="d-flex gap-3">
            <div>
                <div class="form-group">
                    <span asp-validation-for="CustomerName" class="validation-error"></span><br>
                    <label asp-for="CustomerName">Customer:</label>
                    <input asp-for="CustomerName" class="form-control">      
                </div>
                <div class="form-group">
                    <span asp-validation-for="Product" class="validation-error"></span><br>
                    <label asp-for="Product">Product:</label>
                    <input asp-for="Product" class="form-control">
                </div>
                <div class="form-group">
                    <span asp-validation-for="Cost" class="validation-error"></span><br>
                    <label asp-for="Cost">Cost:</label>
                    <input asp-for="Cost" class="form-control">
                </div>
                <div class="form-group">
                    <span asp-validation-for="Status" class="validation-error"></span><br>
                    <label asp-for="Status">Status:</label>
                    <select asp-for="Status" class="form-control">
                        <option value="New Lead">New Lead</option>
                        <option value="In Progress">In Progress</option>
                        <option value="Completed">Completed</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <button class="new-employee-button pt-2 pb-2">Edit Sale</button>
        </div>
    </div>
</form>