html {
  font-size: 14px;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  margin-bottom: 60px;
  background-color: rgb(40, 40, 40);
}


.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(21, 170, 191);
  padding: .5em 2em;
}

.login-nav-container{
  background-color: rgb(21, 170, 191);
  padding: .5em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-nav-container a{
  text-decoration: none;
}


.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container p, .title-name{
  margin:0;
  color: white;
}

.link-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.CRM{
  color: rgb(252, 125, 20);
}

.login-button {
  background-color: rgb(252, 125, 20);
  color: white;
  border: none;
  padding: 0 1em .25em 1em;
  border-radius: 5px;
  transition: all 2ms ease-in-out;
  text-decoration: none;
}


.main-container{
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
}

.content-container{
  color: white;
  width: 35em;
  text-align: center;
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: fit-content; */
  align-items: center;
  background-color: rgb(21, 170, 191);
  padding: 1em 2em 2em 2em;
  border-radius: 15px;
}

.form-container input{
  border: none;
  color: white;
  background-color: rgb(15, 95, 106);
  padding: 5px;
  border-radius: 5px;
}

.form-container input::placeholder{
  color: rgba(255, 255, 255, 0.658);
}

.inputs-1{
  display: flex;
  gap: 1em;
}

.inputs-2{
  display: flex;
  flex-direction: column;
}

.inputs-2 input{
  display: flex;
  width: 25em;
}

.validation-error{
  color: rgb(172, 0, 0);
}

.create-button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: rgb(252, 125, 20);
  color: white;
  width: 25em;
  height: 3em;
  margin-top: 1.5em;
}

.create-button:hover, .login-button:hover, .new-employee-button:hover{
  background-color: rgb(228, 105, 5);
  color: white;
}

.b-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: rgb(21, 170, 191);
  padding: 1em 2em 1em 2em;
  border-radius: 15px;
}

.b-container input{
  border: none;
  color: white;
  background-color: rgb(15, 95, 106);
  padding: 5px;
  border-radius: 5px;
}


.b-group{
  display: flex;
  flex-direction: column;
  color: white;
}

.cbutton{
  margin-top: 1em;
}

.new-business-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.business-link{
  text-decoration: none;
}

.business-message{
  color: white;
  text-align: center;
  margin-top: 3em;
}

.business-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.business-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25em;
  padding: .5em;
  border-radius: 5px;
  background-color: rgb(80, 80, 80);
}

.business-card:hover{
  background-color: rgb(98, 98, 98);
}

.card-rectangle{
  height: 35px;
  width: 10px;
  background-color: rgb(21, 170, 191);
}

a, a:hover{
  color: rgb(21, 170, 191);
  text-decoration: none;
}

.employee-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  font-size: 1.5em;
}

.business-name{
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.employee-icon{
  padding-right: 10px;
  margin-top: 5px;
}

.dash-container{
  display: flex;
}

.dash-left{
  margin-top: 2em;
  margin-left: 2em;
  height: 80vh;
  width: 15vw;
  background-color: rgb(59, 59, 59);
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.nav-option{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1em;
  background-color: rgb(87, 87, 87);
  margin-bottom: 1px;
}

.nav-option:hover{
  background-color: rgb(98, 98, 98);
}

.left-title{
  background-color: rgb(87, 87, 87);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0 0;
  padding: .5em;
  color: white;
  margin-bottom: .2em;
}

.config-main{
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  height: 80vh;
  width: 85%;
  border-radius: 15px;
  background-color: rgb(59, 59, 59);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.new-employee-container, .new-customer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  padding: 1em;
  border-radius: 15px;
  background-color: rgb(21, 170, 191);
}

.new-employee-input{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.new-employee-container input, .new-employee-container select{
  border: none;
  color: white;
  background-color: rgb(15, 95, 106);
  padding: 5px;
  border-radius: 5px;
}

.new-employee-input label{
  margin-right: 10px;
}

.new-employee-button{
  background-color: rgb(252, 125, 20);
  color: white;
  border: none;
  width: 100%;
  padding: 0 2em .25em 2em;
  border-radius: 5px;
  transition: all 2ms ease-in-out;
  text-decoration: none;
}

.employee-card{
  display: flex;
  background-color: rgb(21, 170, 191);
  width: 15em;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
  border-radius: 5px;
  color: white;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
}

.employee-icon2{
  margin-top: 2px;
  height: 30px;
  fill: rgb(252, 125, 20);
}

.team-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1.5em;
}

.customer-card{
  display: flex;
  
}

.dashboard-content-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.dashboard-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 200px;
  margin-top: 20px;
  border: 5px solid rgb(21, 170, 191);
  border-radius: 15px;
}

.dash-content-title{
  font-weight: bold;
  color: white;
  margin-top: 5px;
  text-decoration: underline;
}

.data-holder{
  font-weight: bold;
  font-size: xx-large;
  color: white;
  margin-top: 25px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 769px) {
  .inputs-1{
    flex-direction: column;
    gap: 0;
    width: 100%;
  }
  .inputs-1 input{
    width: 250px;
  }
  .inputs-2 input{
    width: 250px;
  }
  .create-owner-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .create-button{
    width: 250px;
  }

  .form-container{
    width: 100%;
  }

  .content-container{
    padding: 0 5em 0 5em;
  }

  .main-container{
    margin-top: 5em;
  }

  .dashboard-container{
    height: 150px;
    width: 150px;
  }

  .dashboard-content-container{
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  .data-holder{
    font-size: large;
  }

  .dash-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .dash-left{
    height: 6em;
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2em 2em 0 2em;
  }

  .left-title{
    display: none;
  }

  .nav-option{
    margin: 10px 0 10px 0;
    width: 75px;
    height: 70px;
    border-radius: 10px;
  }
}