html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  margin-bottom: 60px;
  background-color: rgb(40, 40, 40);
}


.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(21, 170, 191);
  padding: .5em 2em;
}

.login-nav-container{
  background-color: rgb(21, 170, 191);
  padding: .5em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-nav-container a{
  text-decoration: none;
}


.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container p, .title-name{
  margin:0;
  color: white;
}

.link-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.CRM{
  color: rgb(252, 125, 20);
}

.login-button {
  background-color: rgb(252, 125, 20);
  color: white;
  border: none;
  padding: 0 1em .25em 1em;
  border-radius: 5px;
  transition: all 2ms ease-in-out;
  text-decoration: none;
}


.main-container{
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
}

.content-container{
  color: white;
  width: 35em;
  text-align: center;
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  align-items: center;
  background-color: rgb(21, 170, 191);
  padding: 1em 2em 2em 2em;
  border-radius: 15px;
}

.form-container input{
  border: none;
  color: white;
  background-color: rgb(15, 95, 106);
  padding: 5px;
  border-radius: 5px;
}

.form-container input::placeholder{
  color: rgba(255, 255, 255, 0.658);
}

.inputs-1{
  display: flex;
  gap: 1em;
}

.inputs-2{
  display: flex;
  flex-direction: column;
}

.inputs-2 input{
  display: flex;
  width: 25em;
}

.validation-error{
  color: rgb(172, 0, 0);
}

.create-button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: rgb(252, 125, 20);
  color: white;
  width: 25em;
  height: 3em;
  margin-top: 1.5em;
}

.create-button:hover, .login-button:hover{
  background-color: rgb(228, 105, 5);
  color: white;
}

.b-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: rgb(21, 170, 191);
  padding: 1em 2em 1em 2em;
  border-radius: 15px;
}

.b-container input{
  border: none;
  color: white;
  background-color: rgb(15, 95, 106);
  padding: 5px;
  border-radius: 5px;
}


.b-group{
  display: flex;
  flex-direction: column;
  color: white;
}

.cbutton{
  margin-top: 1em;
}

.new-business-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.business-link{
  text-decoration: none;
}

.business-message{
  color: white;
  text-align: center;
  margin-top: 3em;
}

.business-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.business-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25em;
  padding: .5em;
  border-radius: 5px;
  background-color: rgb(80, 80, 80);
}

.business-card:hover{
  background-color: rgb(98, 98, 98);
}

.card-rectangle{
  height: 35px;
  width: 10px;
  background-color: rgb(21, 170, 191);
}

a, a:hover{
  color: rgb(21, 170, 191);
  text-decoration: none;
}

.employee-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  font-size: 1.5em;
}

.business-name{
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.employee-icon{
  padding-right: 10px;
  margin-top: 5px;
}

.dash-container{
  display: flex;
}

.dash-left{
  margin-top: 2em;
  margin-left: 2em;
  height: 80vh;
  width: 15vw;
  background-color: rgb(59, 59, 59);
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.nav-option{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1em;
  background-color: rgb(87, 87, 87);
  margin-bottom: 1px;
}

.nav-option:hover{
  background-color: rgb(98, 98, 98);
}

.left-title{
  background-color: rgb(87, 87, 87);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0 0;
  padding: .5em;
  color: white;
  margin-bottom: .2em;
}

.config-main{
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  height: 80vh;
  width: 85%;
  border-radius: 15px;
  background-color: rgb(59, 59, 59);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}